#{extends 'admin.html' /}
 
<h3></h3>
 
#{form @save(product?.id)}
 
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
     
    <p>
        #{field 'title'}
        <label>Title:</label>
        <input type="text" name="${field.name}" 
            value="${product?.title}" />
        <span class="error">#{error 'product.title' /}</span>
        #{/field}
    </p>
    
    <p>
        #{field 'loc'}
        <label>Loc:</label>
        <input type="text" name="${field.name}" 
            value="${product?.loc}" />
        <span class="error">#{error 'product.loc' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'image'}
        <label>image:</label>
        <input type="text" name="${field.name}" 
            value="${product?.image}" />
        <span class="error">#{error 'product.image' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'startDate'}
        <label>startDate:</label>
        <input type="text" name="${field.name}" 
            value="${product?.startDate?.format('yyyy-MM-dd')}" />
        <span class="error">#{error 'product.startDate' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'endDate'}
        <label>endDate:</label>
        <input type="text" name="${field.name}" 
            value="${product?.endDate?.format('yyyy-MM-dd')}" />
        <span class="error">#{error 'product.endDate' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'siteName'}
        <label>siteName:</label>
        <input type="text" name="${field.name}" 
            value="${product?.siteName}" />
        <span class="error">#{error 'product.siteName' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'siteUrl'}
        <label>siteUrl:</label>
        <input type="text" name="${field.name}" 
            value="${product?.siteUrl}" />
        <span class="error">#{error 'product.siteUrl' /}</span>
        #{/field}
    </p>

    <p>
        <input type="submit" value="Save Product" />
    </p>
    
#{/form}