<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen" 
                href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" 
                href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.16.custom.css'}" />
                
        <link rel="shortcut icon" type="image/png" 
                href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.ui.datepicker-zh-CN.js'}"></script>
        
    </head>
    <body id="admin">
        
        <div id="header">
            <div id="logo">
                yabe. <span>administration</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Log out</a>
                </li>
            </ul>
        </div>
        
        <div id="main">
    <ul id="adminMenu">
        #{secure.check 'admin'}
        <li class="${request.controller == 'Admin' ? 'selected' : ''}">
            <a href="@{Admin.index()}">My products</a>
        </li>
        #{/secure.check}
    </ul>
            #{doLayout /} 
        </div>
        
        <p id="footer">
            built with the 
            <a href="http://www.playframework.org">Play framework</a>
        </p>
    </body>
</html>